<!DOCTYPE HTML>
<html lang="">
    <head>
		<title>诗词在线生成</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/main.css" type="text/css">
		<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
	</head>
<div class="bgimg">

</div>
    <body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>Generate various Poems!</h1>
				<p>An online ancient poetry generation website based on the PaddleNlp-Bert model.<br />
				Let your imagination free! For more info <a href="https://aistudio.baidu.com/">@AiStudio</a>.</p>
			</header>

		<h1>
			{% for list in result %}
			<li style="list-style-type: none">{{list}}</li>
			{% endfor%}
		</h1>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" ><span class="fa fa-twitter">-Twitter</span></a></li>
					<li><a href="#" ><span class="fa fa-instagram">-Instagram</span></a></li>
					<li><a href="#" ><span class="fa fa-github">-GitHub</span></a></li>
					<li><a href="#" ><span class="fa fa-envelope-o">-Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li><a href="https://computer.hdu.edu.cn/main.htm">&copy; 2023@Hdu JYuan.JChen.YYe.</a></li>
					<li>Credits: <a href="https://www.hdu.edu.cn/main.htm">杭州电子科技大学创新实践</a></li>
				</ul>
			</footer>
	</body>
</html>
